{% extends "layout.html" %}
{% block title %}
    Index
{% endblock %}

{% block main %}
 <div class="container">
        <div class="hero">
            <h1>Math Worksheet Generator</h1>
            <p>
            Creates practice questions with the answer sheet
            </p>

        </div>

<form action="/api/generate" method="GET" id="generate">
            <div>
            <label for="qcount">Number of questions (Max: 120)</label>
            <input
                type="number"
                name="qcount"
                id="qcount"
                min="1"
                max="120"
                value="80"
                required
                class="number-input"
            />
            </div>

            <div>
            <label for="digits">Number of digits (1 to 3)</label>
            <input
                type="number"
                name="digits"
                id="digits"
                max="3"
                min="1"
                value="2"
                required
                class="number-input"
            />
            </div>
             <fieldset>
                <legend>Include sums for</legend>
                <div class="checkbox-group">
                    <div>
                    <input type="radio" name="calc_type" id="add" value="+" />
                    <label for="add">Addition</label>
                    </div>

                    <div>
                    <input type="radio" name="calc_type" id="sub" value="-" />
                    <label for="sub">Subtraction</label>
                    </div>

                    <div>
                    <input type="radio" name="calc_type" id="mul" value="x" />
                    <label for="mul">Multiplication</label>
                    </div>

                    <div>
                    <input type="radio" name="calc_type" id="div" value="/" />
                    <label for="div">Division</label>
                    </div>

                    <div>
                    <input
                        type="radio"
                        name="calc_type"
                        id="mix"
                        value="mix"
                        checked
                    />
                    <label for="mix">Mix of all</label>
                    </div>
                </div>
            </fieldset>

            <button type="submit" class="btn btn--primary">Generate</button>
        </form>
        </div>
  </table>
</div>
{% endblock %}